Repository HakatonNuclearGandhi/estudee-back, pull requests merged in 2023-05, with the labels that each got.

#1 initial-create
  api/Controllers/WeatherForecastController.cs
  api/Program.cs
  api/Properties/launchSettings.json
  api/WeatherForecast.cs
  api/api.csproj
  api/appsettings.Development.json
  api/appsettings.json
Labels: good first issue

#12 model/status-domain
  api/Models/Domain/Status.cs
  api/api.csproj
Labels: model

#13 model/task-domain
  api/Models/Domain/Task.cs
Labels: model

#14 model/user-domain
  api/Models/Domain/User.cs
Labels: model

#15 models/subject-domain
  api/Models/Domain/Subject.cs
Labels: model

#16 model/user-dto
  api/Models/DTO/LoginResponseDto.cs
Labels: model

#17 model/subject-dto
  api/Models/DTO/SubjectDto.cs
Labels: model

#28 core/packages
  api/api.csproj
Labels: core

#29 model/status-dto
  api/Models/DTO/StatusDto.cs
Labels: model

#30 model/update-user-domain
  api/Models/Domain/User.cs
Labels: model

#31 model/update-subject-domain
  api/Models/Domain/Subject.cs
Labels: model

#33 model/update-task-domain
  api/Models/Domain/Subject.cs
  api/Models/Domain/Task.cs
Labels: model

#32 model/task-dto
  api/Models/DTO/GetTaskDto.cs
  api/Models/DTO/TaskDto.cs
  api/Models/DTO/UpdateTaskDto.cs
  api/Models/Domain/Status.cs
Labels: model

#35 database/connection
  api/appsettings.json
Labels: core, database

#36 database/connection
  api/Data/ApplicationDbContext.cs
  api/Program.cs
Labels: database

#39 model/subject-dto
  api/Models/DTO/AddSubjectDto.cs
  api/Models/DTO/GetSubjectDto.cs
  api/Models/DTO/GetSubjectNameDto.cs
  api/Models/DTO/UpdateSubjectDto.cs
Labels: model

#40 model/user-dto
  api/Models/DTO/LoginRequestDto.cs
  api/Models/DTO/ResponseDto.cs
  api/Models/DTO/TokenDto.cs
  api/Models/DTO/UserRegisterDto.cs
  api/Models/DTO/UserRoles.cs
  api/api.csproj
Labels: model

#42 database/migraton
  api/Migrations/20230514092252_Initial.Designer.cs
  api/Migrations/20230514092252_Initial.cs
  api/Migrations/ApplicationDbContextModelSnapshot.cs
  api/Models/Domain/Task.cs
  api/Program.cs
Labels: database

#43 model/dto
  api/Models/DTO/GetTaskDto.cs
  api/Models/DTO/TaskDto.cs
  api/Models/DTO/UpdateTaskDto.cs
Labels: model

#44 controller/user
  api/Controllers/AuthenticateController.cs
  api/Models/DTO/LoginRequestDto.cs
Labels: controller

#45 controller-status
  api/Controllers/StatusesController.cs
  api/Mappings/AutoMapperProfiles.cs
  api/Program.cs
  api/Repositories/IStatusRepository.cs
  api/Repositories/SQLStatusRepository.cs
Labels: controller

#46 controller/subject
  api/Controllers/SubjectController.cs
  api/Mappings/AutoMapperProfiles.cs
  api/Models/DTO/AddSubjectDto.cs
  api/Models/DTO/GetSubjectDto.cs
  api/Models/DTO/GetSubjectNameDto.cs
  api/Models/DTO/UpdateSubjectDto.cs
  api/Program.cs
  api/Repositories/ISubjectRepository.cs
  api/Repositories/SQLSubjectRepository.cs
  api/api.csproj
Labels: controller

#47 controller-task
  api/Controllers/TasksController.cs
  api/Mappings/AutoMapperProfiles.cs
  api/Program.cs
  api/Repositories/ITaskRepository.cs
  api/Repositories/SQLTaskRepository.cs
Labels: controller

#48 controller-dashboard
  api/Controllers/DashboardController.cs
  api/Program.cs
  api/Repositories/IDashboardRepository.cs
  api/Repositories/SQLDashboardRepository.cs
Labels: controller

#49 controller/task
  api/Controllers/TasksController.cs
  api/Mappings/AutoMapperProfiles.cs
  api/Models/DTO/TaskDto.cs
  api/Models/DTO/TaskResponseDto.cs
  api/Program.cs
  api/Repositories/ITaskRepository.cs
  api/Repositories/SQLTaskRepository.cs
Labels: controller

#50 Update README.md
  README.md
Labels: documentation

#51 controller/edit
  api/Controllers/StatusesController.cs
  api/Controllers/TasksController.cs
  api/Mappings/AutoMapperProfiles.cs
  api/Models/DTO/CreateStatusDto.cs
  api/Program.cs
  api/Repositories/IStatusRepository.cs
  api/Repositories/ITaskRepository.cs
  api/Repositories/SQLStatusRepository.cs
  api/Repositories/SQLTaskRepository.cs
Labels: controller

#52 core/fix
  api/Controllers/AuthenticateController.cs
  api/Controllers/WeatherForecastController.cs
  api/WeatherForecast.cs
Labels: core
